<div id="header">
    <h1 id="title">welcome to ur gallery</h1>
    <a id="create" href="/gallery/new">
        <button>New Photo</button>
    </a>
    <br>
    <br>
    <a id="back" href="/">
        <button>GO BACK BITCH</button>
    </a>
</div>

<div id="gallery">
    {{#each gallery}}
    <h1>
        <a id="author" href="/gallery/{{gallery_id}}">{{author}}</a>
    </h1>
    <h2>
        <a id="author" href="/gallery/{{gallery_id}}">
            <img id="image" src="{{link}}">
        </a>
    </h2>
    {{/each}}
</div>