<div id="new">
    <form method="POST" action="/gallery">
        Author:
        <input type="text" name="author">
        <br>
        <br> Link:
        <input type="text" name="link">
        <br>
        <br> Description:
        <input type="text" name="description">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>

    <br>
    <br>
    <button>
        <a href="/gallery">GO BACK BITCH</a>
    </button>
</div>