<h1>WHAT THE FUCK U WANT?</h1>

<br>
<br>

<a href="/gallery">
    <h2>CLICK TO SEE STUFF</h2>
</a>
<br>

<style>
    h1 {
        color: goldenrod;
    }

    h2 {
        color: hotpink;
    }
</style>