<h1>WHAT THE FUCK U WANT?</h1>

<br>
<br>
<form method="POST" action="/auth/register">
    <button type="submit">Register as New User</button>
</form>

<br>
<br>
<form method="POST" action="/auth/login">
    <button type="submit">Login as Existing User</button>
</form>
<br>
<br>
<a href="/gallery">
    <h2>CLICK TO SEE STUFF</h2>
</a>
<br>