<div id="login">
    <form method="POST" action="/auth/login">
        Email:
        <input type="text" name="email">
        <br>
        <br> Password:
        <input type="text" name="password">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>

    <br>
    <br>
    <button>
        <a href="/">GO BACK BITCH</a>
    </button>
</div>